{% extends 'navbar-full.html.twig' %}

{% block body %}
    <div class="page">
        <div class="titleDiv">
            <h1>Liste des commercants</h1>
        </div>
            <div class="container">
                <div class="row">
                {% for commerce in commercesFiltred %}
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="cards">
                        <a href="{{ path('commerce_show', { 'id': commerce.id }) }}"><img class="imgCard" src="{{ asset('pagePerso/'~commerce.image) }}"/></a>
                        <h3 class="cardTitle"><a href="{{ path('commerce_show', { 'id': commerce.id }) }}">{{ commerce.nom }}</a></h3>
                        <p class="text-center">{{ commerce.adresse }}</p>
                        <p class="text-center">{{ commerce.type }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        <ul>
            <li>
                <a href="{{ path('commerce_new') }}">Create a new commerce</a>
            </li>
        </ul>
    </div>
{% endblock %}
