{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adminusers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adminUser in adminUsers %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': adminUser.id }) }}">{{ adminUser.id }}</a></td>
                <td>{{ adminUser.username }}</td>
                <td>{{ adminUser.password }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_show', { 'id': adminUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': adminUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_new') }}">Create a new adminUser</a>
        </li>
    </ul>
{% endblock %}
